geopandas==0.7.0
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1589314920058/work
pywin32==227
pytest==5.4.2
coverage==5.1
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1590171016908/work
pylint @ file:///D:/bld/pylint_1588950636619/work
PyYAML==5.3.1
requests==2.23.0
jupyterlab==2.1.3
## The following requirements were added by pip freeze:
astroid @ file:///D:/bld/astroid_1588698401017/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs==19.3.0
backcall==0.1.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
brotlipy==0.7.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
colorama==0.4.3
cryptography==2.9.2
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Fiona==1.8.13
GDAL==3.0.4
geographiclib==1.50
idna==2.9
importlib-metadata==1.6.0
ipykernel @ file:///D:/bld/ipykernel_1590023017759/work/dist/ipykernel-5.3.0-py3-none-any.whl
ipython==5.8.0
ipython-genutils==0.2.0
isort==4.3.21
Jinja2==2.11.2
json5==0.9.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1590229434073/work
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1589614090069/work
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.6
notebook @ file:///D:/bld/notebook_1588887315004/work
numpy @ file:///D:/bld/numpy_1588605187257/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pickleshare==0.7.5
pluggy @ file:///D:/bld/pluggy_1588616654863/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==3.0.5
py==1.8.1
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj @ file:///D:/bld/pyproj_1588596157846/work
pyrsistent==0.16.0
PySocks==1.7.1
pyspark==2.4.4
python-dateutil==2.8.1
pytz==2020.1
pywinpty==0.5.7
pyzmq==19.0.1
Rtree==0.9.4
Send2Trash==1.5.0
Shapely==1.7.0
simplegeneric==0.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
terminado==0.8.3
testpath==0.4.4
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
zipp==3.1.0
