dask[complete]>=2025.9.1
geopandas
geopy
pywin32>=311
pytest>=8.4.1
coverage>=7.11.3
pytest-cov>=6.2.1
pylint>=3.3.9
PyYAML>=6.0.2
jupyterlab>=4.5.7
dotmap
quantities>=0.16.2
scikit-learn>=1.7.1
matplotlib>=3.10.5
seaborn>=0.13.2
## The following requirements were added by pip freeze:
numpy>=2.4.4
pandas>=2.3.2
requests>=2.32.5
