geopandas==0.6.1
geopy==1.22.0
pywin32==227
pytest==5.4.2
coverage==5.0
pytest-cov==2.8.1
pylint==2.5.2
PyYAML==5.4.1
jupyterlab==2.2.6
dask[complete]==2.16.0
dotmap==1.3.17
quantities==0.12.4
scikit-learn==0.23.1
matplotlib==3.2.2
seaborn==0.10.1
## The following requirements were added by pip freeze:
numpy==1.19.1
pandas==1.1.3
requests==2.24.0
